@model IEnumerable<AsphaltDelivery.Web.ViewModels.Firms.FirmsListingViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>Firms</h1>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p>
        <a class="btn btn-primary" asp-area="Administration" asp-action="Create">Create</a>
    </p>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Firms</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model)
                    {
                        counter = counter + 1;
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { area = "Administration", controller = "Firms", id = item.Id }, new { @class = "btn btn-success" })
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    @Html.ActionLink("Delete", "Delete", new { area = "Administration", controller = "Firms", id = item.Id }, new { @class = "btn btn-danger" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
