@model AsphaltDelivery.Web.ViewModels.AsphaltMixtures.AsphaltMixtureDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asphalt Mixture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CourseIds)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CourseIds)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { area = "Administration", controller = "AsphaltMixtures", id = Model.Id}, new { @class = "btn btn-success" })
    <a class="btn btn-info" asp-action="All">Back to List</a>
</div>
