@model IEnumerable<AsphaltDelivery.Web.ViewModels.Courses.CoursesListingViewModel>

@{
    ViewData["Title"] = "All";
}

<h1>Courses</h1>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p>
        <a class="btn btn-primary" asp-area="Administration" asp-action="Create">Create</a>
    </p>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DriverFullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TruckRegistrationNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirmName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AsphaltBaseName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AsphaltMixtureType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoadObjectName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Weight)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TransportDistance)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.WeightByDistance)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int counter = 0;
                    }
                    @foreach (var item in Model)
                    {
                        counter = counter + 1;
                        <tr>
                            <td>
                                @counter
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverFullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TruckRegistrationNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirmName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AsphaltBaseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AsphaltMixtureType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoadObjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransportDistance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WeightByDistance)
                            </td>
                            <td>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { area = "Administration", controller = "Courses", id = item.Id }, new { @class = "btn btn-success" })
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    @Html.ActionLink("Delete", "Delete", new { area = "Administration", controller = "Courses", id = item.Id }, new { @class = "btn btn-danger" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <p>
                    <a class="btn btn-warning" asp-area="Administration" asp-action="Archivate">Archivate</a>
                </p>
                <p>
                    <a class="btn btn-warning" asp-area="Administration" asp-action="Unarchivate">Unarchivate</a>
                </p>
            }
            <p>
                <a class="btn btn-primary" asp-area="" asp-action="Filter">Filter courses</a>
            </p>
        </div>
    </div>
</div>
